.full_page {
  width: 100%;
  height: 4481px;
  border: 1px solid greenyellow;
}

@font-face {
  font-family: "Lato-Black";
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: "Lato-Bold";
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato-Italic";
  src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}

.header {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 236, 236);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  height: 101px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.box-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 101px;
}

.logo {
  float: left;
  color: #222222;
  font-family: "lato-light";
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-decoration: none;
}

.logo span {
  color: #f16d7f;
  font-weight: 400;
}

.my_acc {
  width: 133px;
  height: 41px;
  background-color: #f16d7f;
  color: #ffffff;
  font-family: "lato-regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38;
}

.nav ul {
  display: flex;
  height: 54px;
  list-style-type: none;
  justify-content: center;
}

.nav li {
  margin: 0 15px;
  line-height: 54px;
}

.nav a {
  color: #222222;
  font-family: "Lato-Bold";
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 17px 7px;
}

.active_link {
  border-bottom: 3px solid #ef5b70;
}

.slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(232, 232, 232);
  height: 613px;
  width: 100%;
  bottom: 5px;
}

.slider .slider_text {
  width: 509px;
  height: 92px;
  font-size: 60px;
  letter-spacing: 1.5px;
  font-family: "Lato-Black";
  color: rgb(34, 34, 34);
  text-align: left;
  line-height: 1.2;
  position: absolute;
  margin: 171px -222px;
}

.slider_text .slider_text_black {
  font-size: 40px;
  letter-spacing: 1px;
  color: #222222;
}

.slider_text .slider_text_red {
  color: #f16d7f;
  font-size: 40px;
  letter-spacing: 1px;
}

.category {
  margin-top: 98px;
  width: 1140px;
  height: 878px;
  display: flex;
  flex-flow: column wrap;
}

.category figcaption {
  position: absolute;
  background-color: #ffffff;
  font-size: 18px;
  font-family: "Lato-black";
  color: rgb(34, 34, 34);
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.45px;
}

.category figcaption span {
  font-size: 30px;
  letter-spacing: 0.75px;
  color: #f16d7f;
}

.men figcaption {
  margin-top: -516px;
}

.accesories figcaption {
  margin-top: -237px;
}

.women figcaption {
  margin-top: -236px;
}

.kids figcaption {
  margin-top: -516px;
}